footer {
    display: flex;
    align-items: center;
    
}
#footerverde {
    background-color: #83A637;
    width: 100%;
}
.orgullosa {
    color: #83A637;
}
.crece {
    color: #D95525;
}
.participa {
    color:#D97D0D;
}
.renca {
    width: 50%;
}
#datosfooter {
    list-style: none;
}
#nombres {
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
}

#inicio {
    background-color: #83A637;
    
    
}

#registro {
    background-color: #D97D0D;
}
.navegacion {
    margin: 0px;
    padding: 0px;
    background-color: #83a63765;
    display: flex;
}
ul.nav-list {
    display: flex;
    justify-content: center;
   
}
.elemt-list {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px 10px 10px 10px;
}

.carousel {
    width: 100%; 
    overflow: hidden; 
}

.carousel-item img {
    width: 100%; 
    height: auto; 
    display: block; 
}