footer {
    display: flex;
    align-items: center;
}
#footerverde {
    background-color: #83A637;
    width: 100%;
}
.orgullosa {
    color: #83A637;
}
.crece {
    color: #D95525;
}
.participa {
    color:#D97D0D;
}
.renca {
    width: 50%;
}
#datosfooter {
    list-style: none;
}
#nombres {
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
}

#inicio {
    background-color: #83A637;
    
    
}

#registro {
    background-color: #D97D0D;
}