/* .row {
    margin: 0%;
    padding: 0%;
  } */

  /* .container-fluid {
    width: 100%;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  } */

.cvContainer {
    /*estp es main*/
    width: 70%;
    height: 100%;
    margin-top: 40px;
    padding: 30%;
    justify-content: right !important ;
    
}

.cvContent {
    display: flex;
    flex-direction: row;
}

.cursosUsuario,
.cTecnics {
    list-style: none;
    padding: 0%;
}

.colName {
    padding: 2%;
    text-align: center;
    /* margin-right: 0%; */
}

.iconCv {
    color: white;
    margin: 0;
    padding-top: 0%;
}

.itemsCv {
    margin-top: 16px;
    font-family: 'Poppins-Bold';
    font-size: 26px;
}


.containerItems {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0%;
}


.nameUsuario {
    margin-bottom: 20px;
}

.contactData {
    text-align: left;
}

.contInfo {
    margin-top: 10px;
    font-family: "Poppins-Regular";
    text-align: center;
}

@media (min-width: 280px) and (max-width: 576px) {
    .itemsCv {
        margin-left: 11px !important;
        font-size: 15px !important;
    }

    .iconCv {
        font-size: 15px !important;
    }

    .cvContainer {
        width: 95%;
    }

    .firstColCv {
        width: 95%;
        padding: 0%;
    }

    .secondColCv {
        width: 95% ;
        padding-top: 20px;
        padding: 0%;
    }

    .nameCv {
        font-size: 18px;
    }

    .contInfo {
        font-size: 12px;
        align-items: center;
        margin-top: 10px;
    }

    .colName {
        padding-top: 30px;
        text-align: left;
    }

    .contactData {
        font-size: 12px;
    }
    .containerItems{
        margin-right: 0%;
    }
}

@media (min-width: 577px) and (max-width: 766px) {
    .itemsCv {
        margin-left: 11px;
        font-size: 20px;
    }

    .iconCv {
        font-size: 15px;
    }

    .cvContainer {
        width: 85%;
    }

    .firstColCv {
        width: 95%;
    }

    .secondColCv {
        width: 95%;
        padding-top: 20px;
        padding: 0%;
    }

    .nameCv {
        font-size: 18px;
    }

    .contInfo {
        font-size: 12px;
        align-items: center;
    }

    .colName {
        padding-top: 30px;
    }
}

@media (min-width: 767px) and (max-width: 990px) {
    .cvContainer {
        width: 95%;
    }

    .itemsCv {
        font-size: 18px;
    }
}

@media (min-width: 991px) and (max-width: 1198px) {
    .cvContainer {
        width: 85%;
        justify-content: right !important ;
    }

    .itemsCv {
        font-size: 20px;
    }

}

@media (min-width: 1199px) and (max-width: 1900px) {
    .itemsCv {
        font-size: 20px;
    }
}