@media (min-width: 280px) and (max-width: 999px) {

    #Datos-personales,
    #Editarperfil,
    #Experiencia,
    #Educacion,
    #Editperfilempresa {
        width: 90%;
    }

    #Editarperfil .form-Perfil,
    #Experiencia .form-Experiencia,
    #Educacion .form-Educacion {
        width: 95% !important;
    }

    .form-Datospersonales .row,
    .form-DatosEmpresa .row {
        display: flex;
        flex-direction: column;
    }

    .form-Datospersonales .col,
    .form-DatosEmpresa .col {
        width: 100%;
        margin-right: 0;
    }
}


#boton-regist {

    margin-top: 10%;
    background-color: #D95525;
    border-color: #D95525;
}

.google-icon {
    display: flex;
    justify-content: center;
    padding-top: 4%;
    margin-top: 3%;
}

.img-google {
    width: 60px;
    height: 60px;
}